version: '3'

services:

  primary:
    image: mongo:3.4.10-jessie
    entrypoint: mongod --replSet sample-replica
    ports:
          - "127.0.0.1:9091:27017"

  secondary:
    image: mongo:3.4.10-jessie
    entrypoint: mongod --replSet sample-replica
    ports:
          - "127.0.0.1:9092:27017"

  arbiter:
    image: mongo:3.4.10-jessie
    entrypoint: mongod --replSet sample-replica
    ports:
          - "127.0.0.1:9093:27  017"